<div class="min-h-[100vh] flex justify-center items-center">
  <mat-card class="p-4">
    <mat-card-header>
      <div class="text-2xl font-bold mb-4">
        Welcome to fNote!
      </div>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="fg" (submit)="onSubmit()" class="grid grid-cols-12 gap-x-4">
        <div class="col-span-12">
          <div class="mb-4">Tell us your registered email so we can help you recover your acount!</div>
        </div>
        <div class="col-span-12">
          <div class="mb-4">
            <label for="Email">Email <span class="text-red-400 text-sm">*</span></label>
            <input formControlName="Email" type="text" class="form-control" id="Email">
            <div *ngIf="fg.controls.Email.invalid&&fg.controls.Email.touched" class="text-sm text-red-400">
              <div *ngIf="fg.controls.Email.errors?.['required']">
                * Email is required.
              </div>
              <div *ngIf="fg.controls.Email.errors?.['email']">
                * Invalid email.
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-12">
          <div class="mb-4">
            <div *ngIf="prompt$.subject|async as prompt" class="text-sm {{prompt.classType}}">
              {{prompt.message}}
            </div>
          </div>
          <div class="form-submit mb-4">
            <button type="submit" mat-raised-button color="primary">
              Find my account
            </button>
          </div>
          <div class="mb-4">
            <a [routerLink]="routes.login" mat-button color="primary">
             I already have an account.
            </a>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>